@font-face {
  font-family: "Nunito";
  src: url("/src/assets/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
